*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Arial',  sans-serif;
    background-color: #F4F4F4F4;
    color: #333;
}

header{
    background-color: #007BFF;
    color: #FFF;
    padding: 10px;
    text-align: center;
}

section{
    width: 80%;
    margin: 20px auto;
    background-color: #FFF;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
}

section ul{
    list-style: none;
    margin-top: 10px;
}

li{
    margin-bottom: 10px;
}

footer{
    text-align: center;
    padding: 10px;
    background-color: #007BFF;
    color: #FFF;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer a{
    color: #FFF;
    text-decoration: none;
}