* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: row;
}

.left {
    width: 30%;
    background-color: rgb(33, 31, 31);
    color: rgb(163, 163, 163);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 30px;
}

.profile-pic {
    margin: 0 auto;
}

#profile-img {
    width: 100%;
    border-radius: 50%;
}

.list {
    width: 80%;
    margin: 50px auto;
}
.contact-list ul{
    list-style-type: none;
}

.contact-list ul li {
    font-size: 13px;
    margin-top: 10px;
}

.skills-list h4{
    font-weight: 500;

}

.skills-list ul{
   margin-top: 30px;
   padding-left: 30px;
   font-size: 13px;
}

.skills-list li{
    margin-top: 5px;
}

.education-list h4{
    font-weight: 500;
}

.education-list div {
    margin-top: 20px;
    font-size: 14px;
}

.education-list div strong{
    color: rgb(203, 203, 203);
}
